<div class="navbar-fixed-top">
    <div class="row ijy-modal-dialog-full-title">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
            <div class="ijy-modal-dialog-full-title-left" onclick="historyBack()"><img src="/images/leftgo.png" alt="">
            </div>
            <div class="ijy-modal-dialog-full-title-middle">在手订单</div>
            <div class="ijy-modal-dialog-full-title-right"><a href="/wx_data/positionlisthistory"
                                                              class="btn btn-gold btn-sm">历史</a></div>
        </div>
    </div>
</div>


<div class="row pd0-15 ijy-common-total mt50">
    <!-- <div class="left">结余：</div><div class="right">567,820</div>
</div>
<div class="row pd0-15 ijy-common-total">
    <div class="left">净值：</div><div class="right">567,820</div>
</div>
<div class="row pd0-15 ijy-common-total">
    <div class="left">可用预付款：</div><div class="right">567,820</div>
</div>
<div class="row pd0-15 ijy-common-total">
    <div class="left">预付款比率(%)：</div><div class="right">567,820</div>
</div>
<div class="row pd0-15 ijy-common-total mb10">
    <div class="left">预付款：</div><div class="right">567,820</div> -->
</div>


<div class="ijy-option ijy-order-histroy-d">
    <ul id="myTab" class="nav nav-tabs">
        <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6 active" id="actmt4"><a href="#tab-product-mt4" data-toggle="tab"
                                                                              id="tabMt4">
            MT4订单</a>
        </li>
        <!--<li class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="actey"><a href="#tab-order-open-option" data-toggle="tab" id="tabEy">期权订单</a></li>-->
    </ul>

    <div class="tab-content">
        <!-- 商品tab -->
        <div role="tabpanel" class="tab-pane active" id="tab-product-mt4">

            <div class="ijy-modal-dialog-full-content">
                <div class="row ijy-order-history-title">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <span class="ijy-order-history-title-name">商品</span><span
                            class="ijy-order-history-title-closelots">数量</span><span>盈亏</span>
                    </div>


                </div>
                <input type="hidden" id="mt4pageid" value="2">
                <div class="row" id="mt4container" style=" margin-bottom:100px;">
            {{#each data}}
                    <div onclick="showDetail('{{symbol}}')"
                         class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <div class="ijy-order-history-item">
                            <div class="ijy-order-history-item-top"><span class="ijy-order-history-item-productname">{{symbol}}<span
                                    class="ijy-order-history-item-isbuy"><span
                                    class="ijy-color-up"></span></span></span> <span
                                    class="ijy-order-history-item-closelots">{{record.volume}}</span><span
                                    class="ijy-order-history-item-profit"><span
                                    class="ijy-color-down">-276</span></span></div>
                            <div class="ijy-order-history-item-mt4orderid">时间：{{totime  record.open_time}}</div>
                            <div class="ijy-order-history-item-mt4orderid">开仓:<span>{{record.open_price}}</span>&nbsp;&nbsp;&nbsp;当前价:<span
                                    class="ijy-color-up {{symbol}}ASK" >0.72159</span></div>
                        </div>
                    </div>
            {{/each}}
                </div>

            </div>

        </div>


    </div>
</div>


<div class="navbar-fixed-bottom menu">
    <div class="ijy-menu-bottom">
        <ul class="nav nav-tabs">
            <li class="ijy-menu-bottom-item"><a href="/wx_data/productlist?symboltype=1">
                <img src="/upgrade/images/bar01_o.png" width="24" height="24"><br>
                <span>交易</span>
            </a>
            </li>

            <li class="ijy-menu-bottom-item "><a href="/wx_data/">
                <img src="/upgrade/images/bar04_o.png" width="24" height="24"><br>
                <span>用户</span>
            </a>
            <li class="ijy-menu-bottom-item"><a href="/wx_data/uselist">
                <img src="/upgrade/images/bar05_o.png" width="24" height="24"><br>
                <span>账户</span>
            </a>
            </li>
            <li class="ijy-menu-bottom-item active"><a href="/wx_data/positionlist">
                <img src="/upgrade/images/bar02.png" width="24" height="24"><br>
                <span>持仓</span>
            </a>
            </li>

            <li class="ijy-menu-bottom-item"><a href="/wx_data/newslist">
                <img src="/upgrade/images/bar03_o.png" width="24" height="24"><br>
                <span>财经</span>
            </a>
            </li>

        </ul>
    </div>
</div>
<script language="javascript">
    $(function () {
        //判断显示类型
        var displaytype = "mt4";
        if (displaytype == 'mt4') {
            $("#actmt4").addClass("active");
            $("#actey").removeClass("active");
            $("#tab-product-mt4").addClass("active");
            $("#tab-order-open-option").removeClass("active");
            $("#type").attr("value", 'mt4');
        } else {
            $("#actey").addClass("active");
            $("#actmt4").removeClass("active");
            $("#tab-order-open-option").addClass("active");
            $("#tab-product-mt4").removeClass("active");
        }

        $("#tabMt4").click(function () {
            $("#type").attr("value", 'mt4');
        });
        $("#tabEy").click(function () {
            $("#type").attr("value", 'ey');
        });
        getData();

    });
    function showDetail(orderNo) {
        window.location = '/wx_data/positiondetail?t=' + orderNo;
    }
    function getData() {
        $.ajax({
            type: "get",
            url: "/wx_data/productlistdata",
            success: function(msg, textStatus){

                if(msg!="")
                {
                    var result = $.parseJSON(msg);
                    for(var i = 0;i < result.length; i++) {
                        msgask=""+result[i]['SYMBOL']+"ASK"+"";
                        if(result[i]['SYMBOL']=="USDJPY") {
                            $("."+msgask).text(parseFloat(result[i]['ASK']).toFixed(parseInt(result[i]['Digits'])));

                            $("."+msgask).each(function () {
                                var num = Number(result[i]['ASK']) - Number($(this).parent("div").find("span").eq(0).text())
                                if (num < 0) {
                                    $(this).attr("class", "ijy-color-down "+msgask);
                                    $(this).parent("div").parent("div").find("div").eq(0).find("span").eq(4).text((num*$(this).parent("div").parent("div").find("div").eq(0).find("span").eq(3).text()).toFixed(3));
                                    $(this).parent("div").parent("div").find("div").eq(0).find("span").eq(4).attr("class", "ijy-color-down");
                                } else {
                                    $(this).attr("class", "ijy-color-up "+msgask);
                                    $(this).parent("div").parent("div").find("div").eq(0).find("span").eq(4).text((num*$(this).parent("div").parent("div").find("div").eq(0).find("span").eq(3).text()).toFixed(3));
                                    $(this).parent("div").parent("div").find("div").eq(0).find("span").eq(4).attr("class", "ijy-color-up");
                                }

                            })
                        }
                    }
                }
            }
        });
    }
            setInterval("getData()",1000);

    function totime(num) {
        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
        return new Date(num).Format("yyyy-MM-dd HH:mm:ss")

    }
</script>

<!--JS 代码区-->


<script type="text/javascript" src="/upgrade/js/hidpi-canvas.min.js"></script>
<script type="text/javascript" src="/upgrade/js/Map.js"></script>
<script type="text/javascript" src="/upgrade/js/moment.js"></script>
<script type="text/javascript" src="/upgrade/js/vkchart.js"></script>
<script type="text/javascript" src="/upgrade/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/upgrade/js/ijy-index-common-profession.js"></script>
<script type="text/javascript" src="/upgrade/js/ijy-index-button-profession.js"></script>
<script type="text/javascript" src="/upgrade/js/ijy-index-modal-profession.js"></script>
<script type="text/javascript" src="/upgrade/js/ijy-index-read-profession.js"></script>
<script type="text/javascript" src="/upgrade/js/ijy-index-event-profession.js"></script>
