<body class="modal-open">



<!--单个商品窗口-->
<div id="modalProduct" class="modal in" aria-hidden="false" aria-labelledby="basicModal" role="dialog" tabindex="-1" style="display: block;"><div class="modal-backdrop  in" style="height: 943px;"></div>
    <div class="modal-dialog ijy-modal-dialog-full">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row ijy-modal-dialog-full-title">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <div class="ijy-modal-dialog-full-title-left" onclick="historyBack()">〈返回 </div>
                        <div class="ijy-modal-dialog-full-title-middle">商品详情</div>
                        <!-- <div class="ijy-modal-dialog-full-title-right"><a href="/order/history.shtml" class="btn btn-gold btn-sm">历史</a></div>-->
                    </div>
                </div>
                <div class="ijy-modal-dialog-full-content">
                    <div class="row ijy-product-title">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                            <span class="ijy-product-title-name">商品</span><span class="ijy-product-title-price">买入</span><span class="ijy-product-title-price">卖出</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                            <div class="XAGRMB ijy-product-item"><div class="ijy-product-item-name">{{t}}</div>
                                <div class="ijy-product-item-buy ijy-product-item-equal"><span id="Ask" class="ownGreen">1.12515</span></div><div class="ijy-product-item-sale ijy-product-item-equal"><span id="Bid" class="ownGreen">1.12513</span></div>
                            </div>
                        </div>
                    </div>





                    <div class="row ijy-modal-order-open-button" style="z-index:99999999">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                            <button class="ijy-normalorder-open-button-event"  style="width:32%"><img src="/upgrade/images/i-ru.png" width="36">买入</button>
                            <button class="ijy-normalorder-open-button-event"  style="width:32%"><img src="/upgrade/images/i-chu.png" width="36">卖出</button>
                            <button class="ijy-normalorder-open-button-event bordernone" "><img src="/upgrade/images/i-gua.png" width="36">挂单</button>
                        </div>
                    </div>
                    <div class="row" style="position:absolute; top: 170px;left: 18px;width: 98%;height: 400px;z-index: 2;">
                        <div id="container" style="height: 320px; width: 100%;" data-highcharts-chart="0"><div class="highcharts-container" id="highcharts-0" style="position: relative; overflow: hidden; width: 961px; height: 320px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: none;"><svg version="1.1" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="961" height="320"><desc>Created with Highstock 2.1.6-modified</desc><defs><clipPath id="highcharts-1"><rect x="0" y="0" width="916" height="215"></rect></clipPath><clipPath id="highcharts-4"><rect x="0" y="0" width="916" height="129"></rect></clipPath><clipPath id="highcharts-6"><rect x="0" y="0" width="916" height="30"></rect></clipPath><clipPath id="highcharts-7"><rect x="0" y="0" width="916" height="75.25"></rect></clipPath></defs><rect x="0" y="0" width="961" height="320" strokeWidth="0" fill="#000" class=" highcharts-background"></rect><g class="highcharts-scrollbar" transform="translate(0,306)"><rect x="0" y="-0.5" fill="#000" stroke="#000" stroke-width="1" rx="0" ry="0" height="0" width="916"></rect><rect y="-0.5" height="0" fill="#F00" stroke="#000" stroke-width="1" rx="0" ry="0" x="542.5" width="338"></rect><path fill="none" stroke="#666" stroke-width="1" visibility="visible" d="M 708 0 L 708 0 M 711 0 L 711 0 M 714 0 L 714 0"></path><g><rect x="-0.5" y="-0.5" width="0" height="0" strokeWidth="1" stroke="#000" stroke-width="1" fill="#FFF"></rect><path fill="#FFF" d="M 1 -3 L 1 3 -2 0"></path></g><g transform="translate(916,0)"><rect x="-0.5" y="-0.5" width="0" height="0" strokeWidth="1" stroke="#000" stroke-width="1" fill="#FFF"></rect><path fill="#FFF" d="M -1 -3 L -1 3 2 0"></path></g></g><g class="highcharts-range-selector-buttons"><text x="0" y="15" style="color:silver;font-weight:bold;fill:silver;">时间范围：</text><g class="highcharts-button" zIndex="7" states="[object Object]" style="cursor:pointer;text-align:center;" transform="translate(65,0)"><rect x="0" y="0" width="32" height="22" strokeWidth="0" fill="#e7f0f9" rx="0" ry="0"></rect><text x="-3.5859375" zIndex="1" style="font-weight:bold;color:black;fill:black;" y="14">30分钟</text></g><g class="highcharts-button" zIndex="7" states="[object Object]" style="cursor:pointer;text-align:center;" transform="translate(102,0)"><rect x="0" y="0" width="32" height="22" strokeWidth="0" fill="#f7f7f7" rx="0" ry="0"></rect><text x="-7.375" zIndex="1" style="font-weight:normal;color:#CCC;fill:#CCC;" y="14">150分钟</text></g><g class="highcharts-button" zIndex="7" states="[object Object]" style="cursor:pointer;text-align:center;" transform="translate(139,0)"><rect x="0" y="0" width="32" height="22" strokeWidth="0" fill="#f7f7f7" rx="0" ry="0"></rect><text x="-7.375" zIndex="1" style="font-weight:normal;color:#CCC;fill:#CCC;" y="14">450分钟</text></g><g class="highcharts-button" zIndex="7" states="[object Object]" style="cursor:pointer;text-align:center;" transform="translate(176,0)"><rect x="0" y="0" width="32" height="22" strokeWidth="0" fill="#f7f7f7" rx="0" ry="0"></rect><text x="-7.375" zIndex="1" style="font-weight:normal;color:#CCC;fill:#CCC;" y="14">900分钟</text></g><g class="highcharts-button" zIndex="7" states="[object Object]" style="cursor:pointer;text-align:center;" transform="translate(213,0)"><rect x="0" y="0" width="32" height="22" strokeWidth="0" fill="#f7f7f7" rx="0" ry="0"></rect><text x="-11.171875" zIndex="1" style="font-weight:normal;color:#CCC;fill:#CCC;" y="14">1800分钟</text></g><g class="highcharts-button" zIndex="7" states="[object Object]" style="cursor:pointer;text-align:center;" transform="translate(250,0)"><rect x="0" y="0" width="32" height="22" strokeWidth="0" fill="#f7f7f7" rx="0" ry="0"></rect><text x="-14.96875" zIndex="1" style="font-weight:normal;color:#CCC;fill:#CCC;" y="14">43200分钟</text></g><g class="highcharts-button" zIndex="7" states="[object Object]" style="cursor:pointer;text-align:center;" transform="translate(287,0)"><rect x="0" y="0" width="32" height="22" strokeWidth="0" fill="#f7f7f7" rx="0" ry="0"></rect><text x="-18.7578125" zIndex="1" style="font-weight:normal;color:#CCC;fill:#CCC;" y="14">302400分钟</text></g><g class="highcharts-button" zIndex="7" states="[object Object]" style="cursor:pointer;text-align:center;" transform="translate(324,0)"><rect x="0" y="0" width="32" height="22" strokeWidth="0" fill="#f7f7f7" rx="0" ry="0"></rect><text x="-22.5546875" zIndex="1" style="font-weight:normal;color:#CCC;fill:#CCC;" y="14">1296000分钟</text></g><g class="highcharts-button" zIndex="7" states="[object Object]" style="cursor:pointer;text-align:center;" transform="translate(361,0)"><rect x="0" y="0" width="32" height="22" strokeWidth="0" fill="#e7f0f9" rx="0" ry="0"></rect><text x="-3.5859375" zIndex="1" style="font-weight:bold;color:black;fill:black;" y="14">30分钟</text></g><g class="highcharts-button" zIndex="7" states="[object Object]" style="cursor:pointer;text-align:center;" transform="translate(398,0)"><rect x="0" y="0" width="32" height="22" strokeWidth="0" fill="#f7f7f7" rx="0" ry="0"></rect><text x="3.5" zIndex="1" style="font-weight:normal;color:#444;fill:#444;" y="14">所有</text></g></g><g class="highcharts-grid" zIndex="1"></g><g class="highcharts-grid" zIndex="1"><path fill="none" d="M 10.5 275 L 10.5 305" stroke="#EEE" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 350.5 275 L 350.5 305" stroke="#EEE" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 689.5 275 L 689.5 305" stroke="#EEE" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 180.5 275 L 180.5 305" stroke="#EEE" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 519.5 275 L 519.5 305" stroke="#EEE" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 858.5 275 L 858.5 305" stroke="#EEE" stroke-width="1" zIndex="1" opacity="1"></path></g><g class="highcharts-grid" zIndex="1"><path fill="none" d="M 0 100.5 L 916 100.5" stroke="#800000" stroke-width="1" stroke-dasharray="3,1" zIndex="1" opacity="1"></path><path fill="none" d="M 0 34.5 L 916 34.5" stroke="#800000" stroke-width="1" stroke-dasharray="3,1" zIndex="1" opacity="1"></path><path fill="none" d="M 0 164.5 L 916 164.5" stroke="#800000" stroke-width="1" stroke-dasharray="3,1" zIndex="1" opacity="1"></path></g><g class="highcharts-grid" zIndex="1"><path fill="none" d="M 0 250.5 L 916 250.5" stroke="#800000" stroke-width="1" stroke-dasharray="3,1" zIndex="1" opacity="1"></path><path fill="none" d="M 0 174.5 L 916 174.5" stroke="#800000" stroke-width="1" stroke-dasharray="3,1" zIndex="1" opacity="1"></path><path fill="none" d="M 0 212.5 L 916 212.5" stroke="#800000" stroke-width="1" stroke-dasharray="3,1" zIndex="1" opacity="1"></path></g><g class="highcharts-grid" zIndex="1"></g><g class="highcharts-axis" zIndex="2"><path fill="none" d="M 46.5 250 L 46.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 105.5 250 L 105.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 164.5 250 L 164.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 223.5 250 L 223.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 283.5 250 L 283.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 342.5 250 L 342.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 401.5 250 L 401.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 460.5 250 L 460.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 519.5 250 L 519.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 578.5 250 L 578.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 637.5 250 L 637.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 696.5 250 L 696.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 755.5 250 L 755.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 814.5 250 L 814.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 874.5 250 L 874.5 260" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 0 250.5 L 916 250.5" stroke="#C0D0E0" stroke-width="1" zIndex="7" visibility="visible"></path></g><g class="highcharts-axis" zIndex="2"></g><g class="highcharts-axis" zIndex="2"><path fill="none" d="M 916.5 35 L 916.5 164" stroke="#800000" stroke-width="1" zIndex="7" visibility="visible"></path></g><g class="highcharts-axis" zIndex="2"><path fill="none" d="M 916.5 174.75 L 916.5 250" stroke="#800000" stroke-width="1" zIndex="7" visibility="visible"></path></g><g class="highcharts-axis" zIndex="2"></g><path fill="none" d="M 972.5 35 L 972.5 164 M 972.5 174.75 L 972.5 250" stroke="#C0C0C0" stroke-width="1" zIndex="2" visibility="visible"></path><path fill="none" d="M 0 98.5 L 916 98.5" stroke="#C0C0C0" stroke-width="1" zIndex="2" visibility="hidden"></path><path fill="none" d="M 0 218.5 L 1818 218.5" stroke="#C0C0C0" stroke-width="1" zIndex="2" visibility="visible"></path><g class="highcharts-series-group" zIndex="3"><path fill="rgba(255,255,255,0.25)" d="M 0 0"></path><path fill="rgba(255,255,0,0.25)" d="M 0 0"></path><path fill="rgba(255,0,255,0.25)" d="M 0 0"></path><g class="highcharts-series highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(0,35) scale(1 1)" style="" clip-path="url(#highcharts-1)"><path fill="#000000" d="M 7.5 30.5 L 7.5 26.5 L 27.5 26.5 L 27.5 30.5 Z M 17.5 26.5 L 17.5 13 M 17.5 30.5 L 17.5 30" stroke="#FF3232" stroke-width="1"></path><path fill="#54FCFC" d="M 36.5 28.5 L 36.5 27.5 L 56.5 27.5 L 56.5 28.5 Z M 46.5 27.5 L 46.5 23 M 46.5 28.5 L 46.5 34" stroke="#54FCFC" stroke-width="1"></path><path fill="#000000" d="M 66.5 26.5 L 66.5 23.5 L 86.5 23.5 L 86.5 26.5 Z M 76.5 23.5 L 76.5 21 M 76.5 26.5 L 76.5 30" stroke="#FF3232" stroke-width="1"></path><path fill="#000000" d="M 95.5 22.5 L 95.5 20.5 L 115.5 20.5 L 115.5 22.5 Z M 105.5 20.5 L 105.5 20.5 M 105.5 22.5 L 105.5 30" stroke="#FF3232" stroke-width="1"></path><path fill="#000000" d="M 125.5 21.5 L 125.5 17.5 L 145.5 17.5 L 145.5 21.5 Z M 135.5 17.5 L 135.5 17.5 M 135.5 21.5 L 135.5 30" stroke="#FF3232" stroke-width="1"></path><path fill="#54FCFC" d="M 154.5 22.5 L 154.5 17.5 L 174.5 17.5 L 174.5 22.5 Z M 164.5 17.5 L 164.5 13 M 164.5 22.5 L 164.5 25" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 184.5 32.5 L 184.5 21.5 L 204.5 21.5 L 204.5 32.5 Z M 194.5 21.5 L 194.5 17 M 194.5 32.5 L 194.5 32.5" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 213.5 34.5 L 213.5 29.5 L 233.5 29.5 L 233.5 34.5 Z M 223.5 29.5 L 223.5 28 M 223.5 34.5 L 223.5 36" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 243.5 39.5 L 243.5 33.5 L 263.5 33.5 L 263.5 39.5 Z M 253.5 33.5 L 253.5 30 M 253.5 39.5 L 253.5 43" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 273.5 43.5 L 273.5 39.5 L 293.5 39.5 L 293.5 43.5 Z M 283.5 39.5 L 283.5 37 M 283.5 43.5 L 283.5 46" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 302.5 48.5 L 302.5 43.5 L 322.5 43.5 L 322.5 48.5 Z M 312.5 43.5 L 312.5 41 M 312.5 48.5 L 312.5 53" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 332.5 53.5 L 332.5 50.5 L 352.5 50.5 L 352.5 53.5 Z M 342.5 50.5 L 342.5 48 M 342.5 53.5 L 342.5 57" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 361.5 55.5 L 361.5 52.5 L 381.5 52.5 L 381.5 55.5 Z M 371.5 52.5 L 371.5 46 M 371.5 55.5 L 371.5 56" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 391.5 62.5 L 391.5 52.5 L 411.5 52.5 L 411.5 62.5 Z M 401.5 52.5 L 401.5 52.5 M 401.5 62.5 L 401.5 66" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 420.5 68.5 L 420.5 61.5 L 440.5 61.5 L 440.5 68.5 Z M 430.5 61.5 L 430.5 59 M 430.5 68.5 L 430.5 68.5" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 450.5 65.5 L 450.5 65.5 L 470.5 65.5 L 470.5 65.5 Z M 460.5 65.5 L 460.5 55 M 460.5 65.5 L 460.5 68" stroke="#54FCFC" stroke-width="1"></path><path fill="#000000" d="M 479.5 65.5 L 479.5 59.5 L 499.5 59.5 L 499.5 65.5 Z M 489.5 59.5 L 489.5 57 M 489.5 65.5 L 489.5 68" stroke="#FF3232" stroke-width="1"></path><path fill="#54FCFC" d="M 509.5 62.5 L 509.5 61.5 L 529.5 61.5 L 529.5 62.5 Z M 519.5 61.5 L 519.5 57 M 519.5 62.5 L 519.5 66" stroke="#54FCFC" stroke-width="1"></path><path fill="#000000" d="M 538.5 61.5 L 538.5 53.5 L 558.5 53.5 L 558.5 61.5 Z M 548.5 53.5 L 548.5 46 M 548.5 61.5 L 548.5 61.5" stroke="#FF3232" stroke-width="1"></path><path fill="#54FCFC" d="M 568.5 66.5 L 568.5 52.5 L 588.5 52.5 L 588.5 66.5 Z M 578.5 52.5 L 578.5 50 M 578.5 66.5 L 578.5 69" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 598.5 76.5 L 598.5 68.5 L 618.5 68.5 L 618.5 76.5 Z M 608.5 68.5 L 608.5 61 M 608.5 76.5 L 608.5 79" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 627.5 87.5 L 627.5 75.5 L 647.5 75.5 L 647.5 87.5 Z M 637.5 75.5 L 637.5 72 M 637.5 87.5 L 637.5 92" stroke="#54FCFC" stroke-width="1"></path><path fill="#000000" d="M 657.5 90.5 L 657.5 79.5 L 677.5 79.5 L 677.5 90.5 Z M 667.5 79.5 L 667.5 77 M 667.5 90.5 L 667.5 90.5" stroke="#FF3232" stroke-width="1"></path><path fill="#000000" d="M 686.5 79.5 L 686.5 73.5 L 706.5 73.5 L 706.5 79.5 Z M 696.5 73.5 L 696.5 73.5 M 696.5 79.5 L 696.5 84" stroke="#FF3232" stroke-width="1"></path><path fill="#54FCFC" d="M 716.5 88.5 L 716.5 73.5 L 736.5 73.5 L 736.5 88.5 Z M 726.5 73.5 L 726.5 68 M 726.5 88.5 L 726.5 92" stroke="#54FCFC" stroke-width="1"></path><path fill="#000000" d="M 745.5 90.5 L 745.5 88.5 L 765.5 88.5 L 765.5 90.5 Z M 755.5 88.5 L 755.5 77 M 755.5 90.5 L 755.5 92" stroke="#FF3232" stroke-width="1"></path><path fill="#54FCFC" d="M 775.5 88.5 L 775.5 88.5 L 795.5 88.5 L 795.5 88.5 Z M 785.5 88.5 L 785.5 77 M 785.5 88.5 L 785.5 92" stroke="#54FCFC" stroke-width="1"></path><path fill="#54FCFC" d="M 804.5 91.5 L 804.5 90.5 L 824.5 90.5 L 824.5 91.5 Z M 814.5 90.5 L 814.5 87 M 814.5 91.5 L 814.5 104" stroke="#54FCFC" stroke-width="1"></path><path fill="#000000" d="M 834.5 91.5 L 834.5 78.5 L 854.5 78.5 L 854.5 91.5 Z M 844.5 78.5 L 844.5 78.5 M 844.5 91.5 L 844.5 98" stroke="#FF3232" stroke-width="1"></path><path fill="#54FCFC" d="M 864.5 92.5 L 864.5 79.5 L 884.5 79.5 L 884.5 92.5 Z M 874.5 79.5 L 874.5 77 M 874.5 92.5 L 874.5 97" stroke="#54FCFC" stroke-width="1"></path></g><g class="highcharts-markers" visibility="visible" zIndex="0.1" transform="translate(0,35) scale(1 1)" clip-path="none"></g><g class="highcharts-series" visibility="visible" zIndex="0.1" transform="translate(0,35) scale(1 1)" clip-path="url(#highcharts-4)"><path fill="none" d="M -11.935483871492774 19.35000000000001 L 17.612903225281418 19.99499999998997 L 47.161290322055606 21.929999999988553 L 76.7096774188298 23.86500000000143 L 106.25806451560399 24.509999999991408 L 135.80645161237817 22.57499999999284 L 165.35483870915238 21.929999999988553 L 194.90322580592655 22.57499999999284 L 224.45161290270076 24.509999999991408 L 253.99999999947494 28.380000000002866 L 283.5483870962491 33.53999999999428 L 313.0967741930233 38.7 L 342.6451612897975 43.21500000000144 L 372.1935483865717 47.73000000000286 L 401.74193548334586 52.245000000004296 L 431.29032258012006 57.40499999999571 L 460.83870967689427 60.630000000002866 L 490.3870967736684 61.91999999999713 L 519.9354838704427 63.210000000005735 L 549.4838709672168 61.27499999999284 L 579.032258063991 61.27499999999284 L 608.5806451607652 63.210000000005735 L 638.1290322575394 69.01500000000144 L 667.6774193543135 72.23999999999427 L 697.2258064510878 76.11000000000573 L 726.774193547862 80.62500000000716 L 756.3225806446361 83.2049999999957 L 785.8709677414104 83.2049999999957 L 815.4193548381845 85.78499999999858 L 844.9677419349588 86.43000000000286 L 874.5161290317329 87.71999999999713 L 904.0645161285071 83.85" stroke="#ffffff" stroke-width="1" zIndex="1" stroke-linejoin="round" stroke-linecap="round"></path><path fill="none" d="M -21.935483871492774 19.35000000000001 L -11.935483871492774 19.35000000000001 L 17.612903225281418 19.99499999998997 L 47.161290322055606 21.929999999988553 L 76.7096774188298 23.86500000000143 L 106.25806451560399 24.509999999991408 L 135.80645161237817 22.57499999999284 L 165.35483870915238 21.929999999988553 L 194.90322580592655 22.57499999999284 L 224.45161290270076 24.509999999991408 L 253.99999999947494 28.380000000002866 L 283.5483870962491 33.53999999999428 L 313.0967741930233 38.7 L 342.6451612897975 43.21500000000144 L 372.1935483865717 47.73000000000286 L 401.74193548334586 52.245000000004296 L 431.29032258012006 57.40499999999571 L 460.83870967689427 60.630000000002866 L 490.3870967736684 61.91999999999713 L 519.9354838704427 63.210000000005735 L 549.4838709672168 61.27499999999284 L 579.032258063991 61.27499999999284 L 608.5806451607652 63.210000000005735 L 638.1290322575394 69.01500000000144 L 667.6774193543135 72.23999999999427 L 697.2258064510878 76.11000000000573 L 726.774193547862 80.62500000000716 L 756.3225806446361 83.2049999999957 L 785.8709677414104 83.2049999999957 L 815.4193548381845 85.78499999999858 L 844.9677419349588 86.43000000000286 L 874.5161290317329 87.71999999999713 L 904.0645161285071 83.85 L 914.0645161285071 83.85" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="21" zIndex="2" class=" highcharts-tracker" style=""></path></g><g class="highcharts-markers highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(0,35) scale(1 1)" clip-path="url(#highcharts-3)" style=""><path fill="#ffffff" d="M 973.2791942516697 57.91999999999713 C 978.6071942516696 57.91999999999713 978.6071942516696 65.91999999999713 973.2791942516697 65.91999999999713 C 967.9511942516697 65.91999999999713 967.9511942516697 57.91999999999713 973.2791942516697 57.91999999999713 Z" stroke="#FFFFFF" stroke-width="1" visibility="hidden"></path></g><g class="highcharts-series" visibility="visible" zIndex="0.1" transform="translate(0,35) scale(1 1)" clip-path="url(#highcharts-4)"><path fill="none" d="M -11.935483871492774 18.704999999995707 L 17.612903225281418 20.639999999994274 L 47.161290322055606 21.929999999988553 L 76.7096774188298 22.57499999999284 L 106.25806451560399 21.929999999988553 L 135.80645161237817 21.284999999998576 L 165.35483870915238 20.639999999994274 L 194.90322580592655 22.57499999999284 L 224.45161290270076 24.509999999991408 L 253.99999999947494 26.444999999989975 L 283.5483870962491 28.380000000002866 L 313.0967741930233 30.315000000001433 L 342.6451612897975 32.89499999998998 L 372.1935483865717 36.119999999997134 L 401.74193548334586 40.63499999999857 L 431.29032258012006 45.79500000000429 L 460.83870967689427 49.66500000000144 L 490.3870967736684 52.889999999994274 L 519.9354838704427 55.46999999999714 L 549.4838709672168 56.76000000000573 L 579.032258063991 59.339999999994276 L 608.5806451607652 61.91999999999713 L 638.1290322575394 65.1450000000043 L 667.6774193543135 67.72500000000716 L 697.2258064510878 69.01500000000144 L 726.774193547862 70.95 L 756.3225806446361 72.88499999999857 L 785.8709677414104 76.11000000000573 L 815.4193548381845 78.6900000000086 L 844.9677419349588 81.26999999999714 L 874.5161290317329 83.85 L 904.0645161285071 83.2049999999957" stroke="#ffff00" stroke-width="1" zIndex="1" stroke-linejoin="round" stroke-linecap="round"></path><path fill="none" d="M -21.935483871492774 18.704999999995707 L -11.935483871492774 18.704999999995707 L 17.612903225281418 20.639999999994274 L 47.161290322055606 21.929999999988553 L 76.7096774188298 22.57499999999284 L 106.25806451560399 21.929999999988553 L 135.80645161237817 21.284999999998576 L 165.35483870915238 20.639999999994274 L 194.90322580592655 22.57499999999284 L 224.45161290270076 24.509999999991408 L 253.99999999947494 26.444999999989975 L 283.5483870962491 28.380000000002866 L 313.0967741930233 30.315000000001433 L 342.6451612897975 32.89499999998998 L 372.1935483865717 36.119999999997134 L 401.74193548334586 40.63499999999857 L 431.29032258012006 45.79500000000429 L 460.83870967689427 49.66500000000144 L 490.3870967736684 52.889999999994274 L 519.9354838704427 55.46999999999714 L 549.4838709672168 56.76000000000573 L 579.032258063991 59.339999999994276 L 608.5806451607652 61.91999999999713 L 638.1290322575394 65.1450000000043 L 667.6774193543135 67.72500000000716 L 697.2258064510878 69.01500000000144 L 726.774193547862 70.95 L 756.3225806446361 72.88499999999857 L 785.8709677414104 76.11000000000573 L 815.4193548381845 78.6900000000086 L 844.9677419349588 81.26999999999714 L 874.5161290317329 83.85 L 904.0645161285071 83.2049999999957 L 914.0645161285071 83.2049999999957" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="21" zIndex="2" class=" highcharts-tracker" style=""></path></g><g class="highcharts-markers highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(0,35) scale(1 1)" clip-path="url(#highcharts-3)" style=""><path fill="#ffff00" d="M 973.2791942516697 48.889999999994274 L 977.2791942516697 52.889999999994274 973.2791942516697 56.889999999994274 969.2791942516697 52.889999999994274 Z" stroke="#FFFFFF" stroke-width="1" visibility="hidden"></path></g><g class="highcharts-series" visibility="visible" zIndex="0.1" transform="translate(0,35) scale(1 1)" clip-path="url(#highcharts-4)"><path fill="none" d="M -11.935483871492774 13.544999999989983 L 17.612903225281418 15.47999999998855 L 47.161290322055606 18.704999999995707 L 76.7096774188298 19.99499999998997 L 106.25806451560399 19.99499999998997 L 135.80645161237817 19.99499999998997 L 165.35483870915238 20.639999999994274 L 194.90322580592655 21.929999999988553 L 224.45161290270076 23.219999999997142 L 253.99999999947494 23.86500000000143 L 283.5483870962491 25.15499999999571 L 313.0967741930233 27.089999999994276 L 342.6451612897975 29.024999999992843 L 372.1935483865717 32.25 L 401.74193548334586 34.83000000000287 L 431.29032258012006 38.0549999999957 L 460.83870967689427 40.63499999999857 L 490.3870967736684 42.56999999999714 L 519.9354838704427 45.150000000000006 L 549.4838709672168 47.73000000000286 L 579.032258063991 50.95499999999571 L 608.5806451607652 54.18000000000286 L 638.1290322575394 58.05 L 667.6774193543135 61.27499999999284 L 697.2258064510878 63.210000000005735 L 726.774193547862 66.43499999999857 L 756.3225806446361 69.01500000000144 L 785.8709677414104 71.59500000000429 L 815.4193548381845 73.53000000000287 L 844.9677419349588 74.81999999999714 L 874.5161290317329 76.11000000000573 L 904.0645161285071 76.7549999999957" stroke="#ff00ff" stroke-width="1" zIndex="1" stroke-linejoin="round" stroke-linecap="round"></path><path fill="none" d="M -21.935483871492774 13.544999999989983 L -11.935483871492774 13.544999999989983 L 17.612903225281418 15.47999999998855 L 47.161290322055606 18.704999999995707 L 76.7096774188298 19.99499999998997 L 106.25806451560399 19.99499999998997 L 135.80645161237817 19.99499999998997 L 165.35483870915238 20.639999999994274 L 194.90322580592655 21.929999999988553 L 224.45161290270076 23.219999999997142 L 253.99999999947494 23.86500000000143 L 283.5483870962491 25.15499999999571 L 313.0967741930233 27.089999999994276 L 342.6451612897975 29.024999999992843 L 372.1935483865717 32.25 L 401.74193548334586 34.83000000000287 L 431.29032258012006 38.0549999999957 L 460.83870967689427 40.63499999999857 L 490.3870967736684 42.56999999999714 L 519.9354838704427 45.150000000000006 L 549.4838709672168 47.73000000000286 L 579.032258063991 50.95499999999571 L 608.5806451607652 54.18000000000286 L 638.1290322575394 58.05 L 667.6774193543135 61.27499999999284 L 697.2258064510878 63.210000000005735 L 726.774193547862 66.43499999999857 L 756.3225806446361 69.01500000000144 L 785.8709677414104 71.59500000000429 L 815.4193548381845 73.53000000000287 L 844.9677419349588 74.81999999999714 L 874.5161290317329 76.11000000000573 L 904.0645161285071 76.7549999999957 L 914.0645161285071 76.7549999999957" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="21" zIndex="2" class=" highcharts-tracker" style=""></path></g><g class="highcharts-markers highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(0,35) scale(1 1)" clip-path="url(#highcharts-3)" style=""><path fill="#ff00ff" d="M 969.2791942516697 38.56999999999714 L 977.2791942516697 38.56999999999714 977.2791942516697 46.56999999999714 969.2791942516697 46.56999999999714 Z" stroke="#FFFFFF" stroke-width="1" visibility="hidden"></path></g><g class="highcharts-series highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(0,174.75) scale(1 1)" style="" clip-path="url(#highcharts-7)"><rect x="8" y="29" width="19" height="47" fill="#FF3232" rx="0" ry="0"></rect><rect x="38" y="43" width="19" height="33" fill="#54FCFC" rx="0" ry="0"></rect><rect x="67" y="55" width="19" height="21" fill="#FF3232" rx="0" ry="0"></rect><rect x="97" y="49" width="19" height="27" fill="#FF3232" rx="0" ry="0"></rect><rect x="126" y="46" width="19" height="30" fill="#FF3232" rx="0" ry="0"></rect><rect x="156" y="49" width="19" height="27" fill="#54FCFC" rx="0" ry="0"></rect><rect x="185" y="50" width="19" height="26" fill="#54FCFC" rx="0" ry="0"></rect><rect x="215" y="42" width="19" height="34" fill="#54FCFC" rx="0" ry="0"></rect><rect x="245" y="30" width="19" height="46" fill="#54FCFC" rx="0" ry="0"></rect><rect x="274" y="43" width="19" height="33" fill="#54FCFC" rx="0" ry="0"></rect><rect x="304" y="40" width="19" height="36" fill="#54FCFC" rx="0" ry="0"></rect><rect x="333" y="34" width="19" height="42" fill="#54FCFC" rx="0" ry="0"></rect><rect x="363" y="37" width="19" height="39" fill="#54FCFC" rx="0" ry="0"></rect><rect x="392" y="43" width="19" height="33" fill="#54FCFC" rx="0" ry="0"></rect><rect x="422" y="38" width="19" height="38" fill="#54FCFC" rx="0" ry="0"></rect><rect x="451" y="38" width="19" height="38" fill="#54FCFC" rx="0" ry="0"></rect><rect x="481" y="45" width="19" height="31" fill="#FF3232" rx="0" ry="0"></rect><rect x="510" y="52" width="19" height="24" fill="#54FCFC" rx="0" ry="0"></rect><rect x="540" y="36" width="19" height="40" fill="#FF3232" rx="0" ry="0"></rect><rect x="570" y="31" width="19" height="45" fill="#54FCFC" rx="0" ry="0"></rect><rect x="599" y="31" width="19" height="45" fill="#54FCFC" rx="0" ry="0"></rect><rect x="629" y="25" width="19" height="51" fill="#54FCFC" rx="0" ry="0"></rect><rect x="658" y="36" width="19" height="40" fill="#FF3232" rx="0" ry="0"></rect><rect x="688" y="36" width="19" height="40" fill="#FF3232" rx="0" ry="0"></rect><rect x="717" y="28" width="19" height="48" fill="#54FCFC" rx="0" ry="0"></rect><rect x="747" y="39" width="19" height="37" fill="#FF3232" rx="0" ry="0"></rect><rect x="776" y="38" width="19" height="38" fill="#54FCFC" rx="0" ry="0"></rect><rect x="806" y="28" width="19" height="48" fill="#54FCFC" rx="0" ry="0"></rect><rect x="836" y="35" width="19" height="41" fill="#FF3232" rx="0" ry="0"></rect><rect x="865" y="28" width="19" height="48" fill="#54FCFC" rx="0" ry="0"></rect></g><g class="highcharts-markers" visibility="visible" zIndex="0.1" transform="translate(0,174.75) scale(1 1)" clip-path="none"></g><g class="highcharts-series" visibility="visible" zIndex="0.1" transform="translate(0,275) scale(1 1)" clip-path="url(#highcharts-6)"><path fill="rgba(69,114,167,0.05)" d="M 0 21.97115384615266 C 0 21.97115384615266 6.785185185185185 24.615384615384684 11.308641975308642 24.615384615384684 C 15.832098765432098 24.615384615384684 18.093827160493827 23.581730769228894 22.617283950617285 23.05288461538249 C 27.14074074074074 22.524038461536083 29.40246913580247 22.331730769229267 33.92592592592593 21.97115384615266 C 38.449382716049385 21.610576923076053 40.71111111111111 21.249999999999446 45.23456790123457 21.249999999999446 C 49.758024691358024 21.249999999999446 52.019753086419755 21.826923076922554 56.543209876543216 22.091346153845755 C 61.06666666666668 22.355769230768956 63.32839506172841 22.23557692307693 67.85185185185186 22.572115384615454 C 72.37530864197531 22.908653846153978 74.63703703703705 23.149038461538566 79.1604938271605 23.774038461538375 C 83.68395061728395 24.399038461538186 85.94567901234568 24.999999999999375 90.46913580246914 25.69711538461451 C 94.99259259259259 26.394230769229644 97.25432098765432 27.019230769227853 101.77777777777779 27.259615384614037 C 106.30123456790125 27.50000000000022 108.56296296296298 27.50000000000022 113.08641975308643 27.50000000000022 C 117.60987654320988 27.50000000000022 119.87160493827162 27.50000000000022 124.39506172839506 26.778846153844334 C 128.9185185185185 26.05769230768845 131.18024691358028 23.774038461538375 135.70370370370372 23.774038461538375 C 140.22716049382717 23.774038461538375 142.4888888888889 24.495192307692125 147.01234567901236 24.97596153846129 C 151.5358024691358 25.45673076923046 153.79753086419754 26.17788461538421 158.320987654321 26.17788461538421 C 162.84444444444443 26.17788461538421 165.1061728395062 22.69230769230588 169.62962962962965 22.33173076922927 C 174.1530864197531 21.97115384615266 176.41481481481483 21.97115384615266 180.93827160493828 21.97115384615266 C 185.4617283950617 21.97115384615266 187.72345679012346 22.403846153846192 192.2469135802469 22.572115384615454 C 196.7703703703704 22.740384615384716 199.0320987654321 22.692307692306944 203.55555555555557 22.81249999999897 C 208.07901234567902 22.932692307690996 210.34074074074073 23.17307692307558 214.8641975308642 23.17307692307558 C 219.38765432098768 23.17307692307558 221.64938271604942 20.769230769229743 226.17283950617286 20.048076923076525 C 230.6962962962963 19.326923076923308 232.95802469135805 19.326923076923308 237.4814814814815 19.326923076923308 C 242.00493827160494 19.326923076923308 244.2666666666667 19.326923076923308 248.79012345679013 19.326923076923308 C 253.31358024691363 19.326923076923308 255.57530864197534 12.23557692307622 260.0987654320988 12.23557692307622 C 264.62222222222226 12.23557692307622 266.883950617284 12.355769230769312 271.40740740740745 12.355769230769312 C 275.9308641975309 12.355769230769312 278.19259259259263 10.432692307690505 282.71604938271605 10.432692307690505 C 287.2395061728395 10.432692307690505 289.50123456790124 11.995192307692701 294.0246913580247 11.995192307692701 C 298.5481481481482 11.995192307692701 300.8098765432099 10.528846153846048 305.33333333333337 9.83173076923038 C 309.8567901234568 9.134615384614719 312.1185185185185 8.50961538461437 316.641975308642 8.50961538461437 C 321.16543209876545 8.50961538461437 323.42716049382716 8.509615384614902 327.95061728395063 8.629807692307462 C 332.4740740740741 8.750000000000021 334.7358024691358 9.110576923077165 339.2592592592593 9.110576923077165 C 343.7827160493827 9.110576923077165 346.0444444444444 9.110576923077165 350.5679012345679 8.99038461538407 C 355.0913580246914 8.870192307690974 357.3530864197531 5.144230769229129 361.87654320987656 5.144230769229129 C 366.4 5.144230769229129 368.66172839506174 6.105769230768534 373.1851851851852 6.105769230768534 C 377.70864197530864 6.105769230768534 379.9703703703704 5.745192307692452 384.4938271604938 5.024038461538705 C 389.0172839506173 4.302884615384949 391.279012345679 2.499999999999776 395.8024691358025 2.499999999999776 C 400.3259259259259 2.499999999999776 402.5876543209877 4.44711538461614 407.11111111111114 5.865384615385015 C 411.6345679012346 7.283653846153907 413.8962962962963 9.591346153844196 418.4197530864198 9.591346153844196 C 422.94320987654316 9.591346153844196 425.204938271605 9.230769230769722 429.7283950617284 8.750000000000554 C 434.2518518518518 8.269230769231388 436.51358024691365 7.187499999998359 441.03703703703707 7.187499999998359 C 445.56049382716054 7.187499999998359 447.82222222222225 8.629807692307462 452.3456790123457 8.629807692307462 C 456.8691358024692 8.629807692307462 459.1308641975309 8.50961538461437 463.65432098765433 8.50961538461437 C 468.1777777777778 8.50961538461437 470.4395061728395 9.831730769227715 474.962962962963 10.072115384613898 C 479.48641975308647 10.312500000000082 481.7481481481482 10.312500000000082 486.27160493827165 10.312500000000082 C 490.7950617283951 10.312500000000082 493.05679012345684 10.288461538461997 497.58024691358025 9.951923076923475 C 502.10370370370373 9.615384615384949 504.36543209876544 8.990384615384608 508.8888888888889 8.629807692307462 C 513.4123456790123 8.269230769230322 515.674074074074 8.14903846153776 520.1975308641976 8.14903846153776 C 524.720987654321 8.14903846153776 526.9827160493827 8.14903846153776 531.5061728395062 8.629807692307462 C 536.0296296296298 9.110576923077165 538.2913580246915 11.0336538461533 542.8148148148149 11.0336538461533 C 547.3382716049384 11.0336538461533 549.6 10.69711538461424 554.1234567901234 10.552884615383597 C 558.646913580247 10.408653846152951 560.9086419753087 10.504807692307962 565.4320987654321 10.312500000000082 C 569.9555555555555 10.120192307692202 572.2172839506172 9.78365384615208 576.7407407407408 9.591346153844196 C 581.2641975308642 9.399038461536318 583.5259259259259 9.543269230768027 588.0493827160494 9.35096153846068 C 592.572839506173 9.158653846153333 594.8345679012347 8.629807692307462 599.3580246913581 8.629807692307462 C 603.8814814814816 8.629807692307462 606.1432098765433 9.014423076923224 610.6666666666667 9.471153846153772 C 615.1901234567902 9.927884615384322 617.4518518518519 10.480769230768276 621.9753086419753 10.913461538460208 C 626.4987654320987 11.346153846152138 628.7604938271604 11.24999999999766 633.283950617284 11.634615384613426 C 637.8074074074074 12.019230769229182 640.0691358024691 12.475961538461869 644.5925925925926 12.83653846153901 C 649.1160493827161 13.197115384616152 651.3777777777779 13.052884615383913 655.9012345679013 13.437499999999137 C 660.4246913580248 13.822115384614369 662.6864197530865 14.399038461538007 667.2098765432099 14.759615384615149 C 671.7333333333333 15.120192307692292 673.9950617283951 15.24038461538485 678.5185185185186 15.24038461538485 C 683.041975308642 15.24038461538485 685.3037037037038 15.120192307691758 689.8271604938273 15.120192307691758 C 694.3506172839507 15.120192307691758 696.6123456790124 16.2980769230766 701.1358024691358 16.80288461538438 C 705.6592592592593 17.30769230769217 707.920987654321 17.64423076923069 712.4444444444445 17.64423076923069 C 716.967901234568 17.64423076923069 719.2296296296296 17.64423076923069 723.7530864197531 17.524038461537593 C 728.2765432098765 17.403846153844498 730.5382716049382 16.80288461538438 735.0617283950618 16.80288461538438 C 739.5851851851852 16.80288461538438 741.846913580247 16.923076923074802 746.3703703703704 16.923076923074802 C 750.8938271604939 16.923076923074802 753.1555555555557 15.120192307691758 757.6790123456791 15.120192307691758 C 762.2024691358025 15.120192307691758 764.4641975308643 17.379807692306443 768.9876543209876 18.245192307690814 C 773.5111111111112 19.110576923075232 775.7728395061728 18.653846153844647 780.2962962962963 19.44711538461373 C 784.8197530864197 20.240384615382794 787.0814814814814 22.21153846153618 791.604938271605 22.21153846153618 C 796.1283950617284 22.21153846153618 798.3901234567902 20.913461538459853 802.9135802469136 20.28846153846004 C 807.437037037037 19.663461538460233 809.6987654320989 19.086538461537124 814.2222222222223 19.086538461537124 C 818.7456790123458 19.086538461537124 821.0074074074075 22.33173076922927 825.530864197531 22.33173076922927 C 830.0543209876545 22.33173076922927 832.3160493827161 21.85096153845957 836.8395061728396 21.85096153845957 C 841.3629629629629 21.85096153845957 843.6246913580247 22.09134615384362 848.1481481481482 22.21153846153618 C 852.6716049382716 22.331730769228734 854.9333333333334 22.451923076922363 859.4567901234568 22.451923076922363 C 863.9802469135802 22.451923076922363 866.241975308642 20.168269230769617 870.7654320987655 20.168269230769617 C 875.288888888889 20.168269230769617 877.5506172839507 23.05288461538249 882.0740740740741 23.05288461538249 C 886.5975308641977 23.05288461538249 888.8592592592593 20.048076923074927 893.3827160493828 18.245192307690814 C 897.9061728395063 16.442307692306702 900.1679012345679 14.038461538461931 904.6913580246915 14.038461538461931 C 909.214814814815 14.038461538461931 916 14.879807692305572 916 14.879807692305572 L 916 30 L 0 30" zIndex="0"></path><path fill="none" d="M 0 21.97115384615266 C 0 21.97115384615266 6.785185185185185 24.615384615384684 11.308641975308642 24.615384615384684 C 15.832098765432098 24.615384615384684 18.093827160493827 23.581730769228894 22.617283950617285 23.05288461538249 C 27.14074074074074 22.524038461536083 29.40246913580247 22.331730769229267 33.92592592592593 21.97115384615266 C 38.449382716049385 21.610576923076053 40.71111111111111 21.249999999999446 45.23456790123457 21.249999999999446 C 49.758024691358024 21.249999999999446 52.019753086419755 21.826923076922554 56.543209876543216 22.091346153845755 C 61.06666666666668 22.355769230768956 63.32839506172841 22.23557692307693 67.85185185185186 22.572115384615454 C 72.37530864197531 22.908653846153978 74.63703703703705 23.149038461538566 79.1604938271605 23.774038461538375 C 83.68395061728395 24.399038461538186 85.94567901234568 24.999999999999375 90.46913580246914 25.69711538461451 C 94.99259259259259 26.394230769229644 97.25432098765432 27.019230769227853 101.77777777777779 27.259615384614037 C 106.30123456790125 27.50000000000022 108.56296296296298 27.50000000000022 113.08641975308643 27.50000000000022 C 117.60987654320988 27.50000000000022 119.87160493827162 27.50000000000022 124.39506172839506 26.778846153844334 C 128.9185185185185 26.05769230768845 131.18024691358028 23.774038461538375 135.70370370370372 23.774038461538375 C 140.22716049382717 23.774038461538375 142.4888888888889 24.495192307692125 147.01234567901236 24.97596153846129 C 151.5358024691358 25.45673076923046 153.79753086419754 26.17788461538421 158.320987654321 26.17788461538421 C 162.84444444444443 26.17788461538421 165.1061728395062 22.69230769230588 169.62962962962965 22.33173076922927 C 174.1530864197531 21.97115384615266 176.41481481481483 21.97115384615266 180.93827160493828 21.97115384615266 C 185.4617283950617 21.97115384615266 187.72345679012346 22.403846153846192 192.2469135802469 22.572115384615454 C 196.7703703703704 22.740384615384716 199.0320987654321 22.692307692306944 203.55555555555557 22.81249999999897 C 208.07901234567902 22.932692307690996 210.34074074074073 23.17307692307558 214.8641975308642 23.17307692307558 C 219.38765432098768 23.17307692307558 221.64938271604942 20.769230769229743 226.17283950617286 20.048076923076525 C 230.6962962962963 19.326923076923308 232.95802469135805 19.326923076923308 237.4814814814815 19.326923076923308 C 242.00493827160494 19.326923076923308 244.2666666666667 19.326923076923308 248.79012345679013 19.326923076923308 C 253.31358024691363 19.326923076923308 255.57530864197534 12.23557692307622 260.0987654320988 12.23557692307622 C 264.62222222222226 12.23557692307622 266.883950617284 12.355769230769312 271.40740740740745 12.355769230769312 C 275.9308641975309 12.355769230769312 278.19259259259263 10.432692307690505 282.71604938271605 10.432692307690505 C 287.2395061728395 10.432692307690505 289.50123456790124 11.995192307692701 294.0246913580247 11.995192307692701 C 298.5481481481482 11.995192307692701 300.8098765432099 10.528846153846048 305.33333333333337 9.83173076923038 C 309.8567901234568 9.134615384614719 312.1185185185185 8.50961538461437 316.641975308642 8.50961538461437 C 321.16543209876545 8.50961538461437 323.42716049382716 8.509615384614902 327.95061728395063 8.629807692307462 C 332.4740740740741 8.750000000000021 334.7358024691358 9.110576923077165 339.2592592592593 9.110576923077165 C 343.7827160493827 9.110576923077165 346.0444444444444 9.110576923077165 350.5679012345679 8.99038461538407 C 355.0913580246914 8.870192307690974 357.3530864197531 5.144230769229129 361.87654320987656 5.144230769229129 C 366.4 5.144230769229129 368.66172839506174 6.105769230768534 373.1851851851852 6.105769230768534 C 377.70864197530864 6.105769230768534 379.9703703703704 5.745192307692452 384.4938271604938 5.024038461538705 C 389.0172839506173 4.302884615384949 391.279012345679 2.499999999999776 395.8024691358025 2.499999999999776 C 400.3259259259259 2.499999999999776 402.5876543209877 4.44711538461614 407.11111111111114 5.865384615385015 C 411.6345679012346 7.283653846153907 413.8962962962963 9.591346153844196 418.4197530864198 9.591346153844196 C 422.94320987654316 9.591346153844196 425.204938271605 9.230769230769722 429.7283950617284 8.750000000000554 C 434.2518518518518 8.269230769231388 436.51358024691365 7.187499999998359 441.03703703703707 7.187499999998359 C 445.56049382716054 7.187499999998359 447.82222222222225 8.629807692307462 452.3456790123457 8.629807692307462 C 456.8691358024692 8.629807692307462 459.1308641975309 8.50961538461437 463.65432098765433 8.50961538461437 C 468.1777777777778 8.50961538461437 470.4395061728395 9.831730769227715 474.962962962963 10.072115384613898 C 479.48641975308647 10.312500000000082 481.7481481481482 10.312500000000082 486.27160493827165 10.312500000000082 C 490.7950617283951 10.312500000000082 493.05679012345684 10.288461538461997 497.58024691358025 9.951923076923475 C 502.10370370370373 9.615384615384949 504.36543209876544 8.990384615384608 508.8888888888889 8.629807692307462 C 513.4123456790123 8.269230769230322 515.674074074074 8.14903846153776 520.1975308641976 8.14903846153776 C 524.720987654321 8.14903846153776 526.9827160493827 8.14903846153776 531.5061728395062 8.629807692307462 C 536.0296296296298 9.110576923077165 538.2913580246915 11.0336538461533 542.8148148148149 11.0336538461533 C 547.3382716049384 11.0336538461533 549.6 10.69711538461424 554.1234567901234 10.552884615383597 C 558.646913580247 10.408653846152951 560.9086419753087 10.504807692307962 565.4320987654321 10.312500000000082 C 569.9555555555555 10.120192307692202 572.2172839506172 9.78365384615208 576.7407407407408 9.591346153844196 C 581.2641975308642 9.399038461536318 583.5259259259259 9.543269230768027 588.0493827160494 9.35096153846068 C 592.572839506173 9.158653846153333 594.8345679012347 8.629807692307462 599.3580246913581 8.629807692307462 C 603.8814814814816 8.629807692307462 606.1432098765433 9.014423076923224 610.6666666666667 9.471153846153772 C 615.1901234567902 9.927884615384322 617.4518518518519 10.480769230768276 621.9753086419753 10.913461538460208 C 626.4987654320987 11.346153846152138 628.7604938271604 11.24999999999766 633.283950617284 11.634615384613426 C 637.8074074074074 12.019230769229182 640.0691358024691 12.475961538461869 644.5925925925926 12.83653846153901 C 649.1160493827161 13.197115384616152 651.3777777777779 13.052884615383913 655.9012345679013 13.437499999999137 C 660.4246913580248 13.822115384614369 662.6864197530865 14.399038461538007 667.2098765432099 14.759615384615149 C 671.7333333333333 15.120192307692292 673.9950617283951 15.24038461538485 678.5185185185186 15.24038461538485 C 683.041975308642 15.24038461538485 685.3037037037038 15.120192307691758 689.8271604938273 15.120192307691758 C 694.3506172839507 15.120192307691758 696.6123456790124 16.2980769230766 701.1358024691358 16.80288461538438 C 705.6592592592593 17.30769230769217 707.920987654321 17.64423076923069 712.4444444444445 17.64423076923069 C 716.967901234568 17.64423076923069 719.2296296296296 17.64423076923069 723.7530864197531 17.524038461537593 C 728.2765432098765 17.403846153844498 730.5382716049382 16.80288461538438 735.0617283950618 16.80288461538438 C 739.5851851851852 16.80288461538438 741.846913580247 16.923076923074802 746.3703703703704 16.923076923074802 C 750.8938271604939 16.923076923074802 753.1555555555557 15.120192307691758 757.6790123456791 15.120192307691758 C 762.2024691358025 15.120192307691758 764.4641975308643 17.379807692306443 768.9876543209876 18.245192307690814 C 773.5111111111112 19.110576923075232 775.7728395061728 18.653846153844647 780.2962962962963 19.44711538461373 C 784.8197530864197 20.240384615382794 787.0814814814814 22.21153846153618 791.604938271605 22.21153846153618 C 796.1283950617284 22.21153846153618 798.3901234567902 20.913461538459853 802.9135802469136 20.28846153846004 C 807.437037037037 19.663461538460233 809.6987654320989 19.086538461537124 814.2222222222223 19.086538461537124 C 818.7456790123458 19.086538461537124 821.0074074074075 22.33173076922927 825.530864197531 22.33173076922927 C 830.0543209876545 22.33173076922927 832.3160493827161 21.85096153845957 836.8395061728396 21.85096153845957 C 841.3629629629629 21.85096153845957 843.6246913580247 22.09134615384362 848.1481481481482 22.21153846153618 C 852.6716049382716 22.331730769228734 854.9333333333334 22.451923076922363 859.4567901234568 22.451923076922363 C 863.9802469135802 22.451923076922363 866.241975308642 20.168269230769617 870.7654320987655 20.168269230769617 C 875.288888888889 20.168269230769617 877.5506172839507 23.05288461538249 882.0740740740741 23.05288461538249 C 886.5975308641977 23.05288461538249 888.8592592592593 20.048076923074927 893.3827160493828 18.245192307690814 C 897.9061728395063 16.442307692306702 900.1679012345679 14.038461538461931 904.6913580246915 14.038461538461931 C 909.214814814815 14.038461538461931 916 14.879807692305572 916 14.879807692305572" stroke="#4572A7" stroke-width="1" zIndex="1" stroke-linejoin="round" stroke-linecap="round"></path></g><g class="highcharts-markers" visibility="visible" zIndex="0.1" transform="translate(0,275) scale(1 1)" clip-path="url(#highcharts-5)"></g></g><g class="highcharts-navigator" zIndex="3"><rect fill="rgba(128,179,236,0.3)" style="cursor:ew-resize ;" x="542" y="275" width="339" height="30"></rect><path fill="none" stroke="#b2b1b6" stroke-width="1" d="M 0 275.5 L 541.5 275.5 541.5 305.5 L 880.5 305.5 L 880.5 275.5 916 275.5 M 542.5 275.5 L 880.5 275.5"></path></g><g class="highcharts-navigator-handle-right" style="cursor:ew-resize;" zIndex="3" transform="translate(881,282)"><rect x="-4.5" y="0.5" width="8" height="15" strokeWidth="1" fill="#ebe7e8" stroke="#b2b1b6" stroke-width="1"></rect><path fill="#ebe7e8" d="M -1.5 4 L -1.5 12 M 0.5 4 L 0.5 12" stroke="#b2b1b6" stroke-width="1"></path></g><g class="highcharts-navigator-handle-left" style="cursor:ew-resize;" zIndex="4" transform="translate(542,282)"><rect x="-4.5" y="0.5" width="8" height="15" strokeWidth="1" fill="#ebe7e8" stroke="#b2b1b6" stroke-width="1"></rect><path fill="#ebe7e8" d="M -1.5 4 L -1.5 12 M 0.5 4 L 0.5 12" stroke="#b2b1b6" stroke-width="1"></path></g><g class="highcharts-axis-labels highcharts-xaxis-labels" zIndex="7"><text x="47.161290322055606" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:18</text><text x="106.25806451560399" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:20</text><text x="165.35483870915238" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:22</text><text x="224.45161290270076" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:24</text><text x="283.5483870962491" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:26</text><text x="342.6451612897975" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:28</text><text x="401.74193548334586" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:30</text><text x="460.83870967689427" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:32</text><text x="519.9354838704427" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:34</text><text x="579.032258063991" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:36</text><text x="638.1290322575394" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:38</text><text x="697.2258064510878" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:40</text><text x="756.3225806446361" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:42</text><text x="815.4193548381845" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:44</text><text x="874.5161290317329" style="color:#B61C09;cursor:default;font-size:11px;fill:#B61C09;width:55px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)" y="269" opacity="1">22:46</text></g><g class="highcharts-axis-labels highcharts-xaxis-labels" zIndex="7"><text x="14.308641975308642" style="color:#888;cursor:default;font-size:11px;fill:#888;width:173px;text-overflow:clip;" text-anchor="start" transform="translate(0,0)" y="301" opacity="1">21:30</text><text x="353.5679012345679" style="color:#888;cursor:default;font-size:11px;fill:#888;width:173px;text-overflow:clip;" text-anchor="start" transform="translate(0,0)" y="301" opacity="1">22:00</text><text x="692.8271604938273" style="color:#888;cursor:default;font-size:11px;fill:#888;width:173px;text-overflow:clip;" text-anchor="start" transform="translate(0,0)" y="301" opacity="1">22:30</text><text x="183.93827160493828" style="color:#888;cursor:default;font-size:11px;fill:#888;width:173px;text-overflow:clip;" text-anchor="start" transform="translate(0,0)" y="301" opacity="1">21:45</text><text x="523.1975308641976" style="color:#888;cursor:default;font-size:11px;fill:#888;width:173px;text-overflow:clip;" text-anchor="start" transform="translate(0,0)" y="301" opacity="1">22:15</text><text x="862.4567901234568" style="color:#888;cursor:default;font-size:11px;fill:#888;width:173px;text-overflow:clip;" text-anchor="start" transform="translate(0,0)" y="301" opacity="1">22:45</text></g><g class="highcharts-axis-labels highcharts-yaxis-labels" zIndex="7"><text x="961" style="color:#B6322B;cursor:default;font-size:11px;fill:#B6322B;width:1px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="98" opacity="1">1.12500</text><text x="961" style="color:#B6322B;cursor:default;font-size:11px;fill:#B6322B;width:1px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="-9999" opacity="1">1.12600</text><text x="961" style="color:#B6322B;cursor:default;font-size:11px;fill:#B6322B;width:1px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="162" opacity="1">1.12400</text></g><g class="highcharts-axis-labels highcharts-yaxis-labels" zIndex="7"><text x="941" style="color:#B6322B;cursor:default;font-size:11px;fill:#B6322B;width:1px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="248" opacity="1">0</text><text x="941" style="color:#B6322B;cursor:default;font-size:11px;fill:#B6322B;width:1px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="-9999" opacity="1">500</text><text x="941" style="color:#B6322B;cursor:default;font-size:11px;fill:#B6322B;width:1px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="210" opacity="1">250</text></g><g class="highcharts-axis-labels highcharts-yaxis-labels" zIndex="7"></g><g class="highcharts-tooltip" zIndex="8" style="cursor:default;padding:0;white-space:nowrap;" transform="translate(5,60)" opacity="1" visibility="visible"><path fill="rgba(249, 249, 249, .85)" d="M 0 0 L 126 0 C 126 0 126 0 126 0 L 126 167 C 126 167 126 167 126 167 L 0 167 C 0 167 0 167 0 167 L 0 0 C 0 0 0 0 0 0"></path><text x="8" zIndex="1" style="font-size:12px;color:#333333;fill:#333333;" y="20"><tspan style="font-size: 10px">周一, 五月 22, 22:33</tspan><tspan style="fill:#54FCFC" x="8" dy="15">●</tspan><tspan style="font-weight:bold" dx="0"> {{t}}</tspan><tspan x="8" dy="15">开: 1.125</tspan><tspan x="8" dy="15">高: 1.12512</tspan><tspan x="8" dy="15">低: 1.12494</tspan><tspan x="8" dy="15">收: 1.12508</tspan><tspan style="fill:#ffffff" x="8" dy="15">●</tspan><tspan dx="0"> avg5: </tspan><tspan style="font-weight:bold" dx="0">1.12504</tspan><tspan style="fill:#ffff00" x="8" dy="15">●</tspan><tspan dx="0"> avg10: </tspan><tspan style="font-weight:bold" dx="0">1.12518</tspan><tspan style="fill:#ff00ff" x="8" dy="15">●</tspan><tspan dx="0"> avg15: </tspan><tspan style="font-weight:bold" dx="0">1.12534</tspan><tspan style="fill:#7cb5ec" x="8" dy="15">●</tspan><tspan dx="0"> 交易量: </tspan><tspan style="font-weight:bold" dx="0">210</tspan></text></g><text x="971" text-anchor="end" zIndex="8" style="cursor:pointer;color:#909090;font-size:9px;fill:#909090;" y="330"><tspan>copyright sitong 2015</tspan></text><path fill="none" d="M 0 91.5 L 916 91.5" stroke="#CCCCCC" stroke-width="1" stroke-dasharray="none" zIndex="99999"></path><text x="961" text-anchor="end" zIndex="99999" transform="translate(0,0)" style="color:#FFF;fill:#FFF;" y="88" visibility="visible">1.12513</text></svg></div></div>
                        <div style="height: 70px;width: 100%;"></div>
                    </div>
                    <iframe style="position:absolute;left:0px;top:168px;width: 100%;height:40px;background:#000;overflow: hidden;z-index: 3;border: none;"></iframe>
                    <div style="position:absolute;left:0px;top:158px;width: 100%;height:40px;overflow: hidden;z-index: 99999; background: #000;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ijy-col-nopadding" style="width: 11.1%;">
                            <button data-value="9999" class="ijy-modal-product-quote-button">F</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ijy-col-nopadding" style="width: 11.1%;">
                            <button data-value="1" class="ijy-modal-product-quote-button ijy-modal-product-quote-button-active">M1</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ijy-col-nopadding" style="width: 11.1%;">
                            <button data-value="5" class="ijy-modal-product-quote-button">M5</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ijy-col-nopadding" style="width: 11.1%;">
                            <button data-value="15" class="ijy-modal-product-quote-button">M15</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ijy-col-nopadding" style="width: 11.1%;">
                            <button data-value="30" class="ijy-modal-product-quote-button">M30</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ijy-col-nopadding" style="width: 11.1%;">
                            <button data-value="60" class="ijy-modal-product-quote-button">H1</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ijy-col-nopadding" style="width: 11.1%;">
                            <button data-value="1440" class="ijy-modal-product-quote-button">D1</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ijy-col-nopadding" style="width: 11.1%;">
                            <button data-value="10080" class="ijy-modal-product-quote-button">W1</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ijy-col-nopadding" style="width: 11.1%;">
                            <button data-value="43200" class="ijy-modal-product-quote-button">MN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--JS 代码区-->

<script type="text/javascript" src="/upgrade/js/hidpi-canvas.min.js"></script>
<script type="text/javascript" src="/upgrade/js/Map.js"></script>
<script type="text/javascript" src="/upgrade/js/moment.js"></script>
<script type="text/javascript" src="/upgrade/js/vkchart.js"></script>
<script type="text/javascript" src="/upgrade/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/upgrade/js/ijy-index-common-profession.js"></script>
<script type="text/javascript" src="/upgrade/js/ijy-index-button-profession.js"></script>
<script type="text/javascript" src="/upgrade/js/ijy-index-modal-profession.js"></script>
<script type="text/javascript" src="/upgrade/js/ijy-index-read-profession.js"></script>
<script type="text/javascript" src="/upgrade/js/ijy-index-event-profession.js"></script>




<input type="hidden" value="0" id="selected">

<input type="hidden" id="timePart" value="1">
<input type="hidden" value="{{t}}" id="symbol">
<input type="hidden" id="OrderNo" value="">
<input type="hidden" id="Digits" value="0">

<script src="/upgrade/js/higchart/highstock.src.js"></script>
<script src="/upgrade/js/higchart/exporting.js"></script>
<script type="text/javascript">
    function getLineInfo(val)
    {
        var period= $("#timePart").attr("value");
        if(period=="")
        {
            period="1";
        }
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/wx_data/getLineInfox?period="+$("#timePart").attr("value")+"&symbol="+$("#symbol").attr("value"),
            success: function(data, textStatus){
                if(data != '')
                {
                    data=  eval('(' + data + ')');
                    var ohlc = [];
                    var volume = [];
                    var arg5=[];
                    var sum5=0;
                    var arg10=[];
                    var sum10=0;
                    var arg15=[];
                    var sum15=0;

                    for (var i=0; i < data.mainData.length; i++) {
                        if(period=="9999")
                        {
                            ohlc.push([
                                data.mainData[i]['time'], // the date

                                data.mainData[i]['close'] // close
                            ]);

                            volume.push([
                                data.mainData[i]['time'], // the date
                                data.mainData[i]['vol'] // the volume
                            ]);
                        }
                        else
                        {
                            ohlc.push([
                                data.mainData[i]['time'], // the date
                                data.mainData[i]['open'], // open
                                data.mainData[i]['hign'], // high
                                data.mainData[i]['low'], // low
                                data.mainData[i]['close'] // close
                            ]);

                            volume.push([
                                data.mainData[i]['time'], // the date
                                data.mainData[i]['vol'] // the volume
                            ]);
                            /*if(i<4)
                            {
                                arg5.push([
                                data.mainData[i]['time'], // the date
                                data.mainData[i]['close'] // the volume
                                ]);
                            }
                            if(i<9)
                            {
                                arg10.push([
                                data.mainData[i]['time'], // the date
                                data.mainData[i]['close'] // the volume
                                ]);
                            }
                            if(i<14)
                            {
                                arg15.push([
                                data.mainData[i]['time'], // the date
                                data.mainData[i]['close'] // the volume
                                ]);
                            }*/
                            if(i>=4)
                            {
                                sum5=0;

                                for(var j=i;j>=i-4;j--)
                                {
                                    sum5=sum5+data.mainData[j]['close'];
                                }
                                sum5=sum5/5;
                                sum5=parseFloat(sum5.toFixed(data.dotNum));
                                //alert(sum5);
                                arg5.push([
                                    data.mainData[i]['time'], // the date
                                    sum5 // the volumetoFixed(2)
                                ]);
                            }
                            if(i>=9)
                            {
                                sum10=0;
                                for(var j=i;j>=i-9;j--)
                                {
                                    sum10=sum10+data.mainData[j]['close'];
                                }
                                //alert(sum5);
                                sum10=sum10/10;
                                sum10=parseFloat(sum10.toFixed(data.dotNum));
                                arg10.push([
                                    data.mainData[i]['time'], // the date
                                    sum10 // the volume
                                ]);
                            }
                            if(i>=14)
                            {
                                sum15=0;
                                for(var j=i;j>=i-14;j--)
                                {
                                    sum15=sum15+data.mainData[j]['close'];
                                }

                                sum15=sum15/15;
                                sum15=parseFloat(sum15.toFixed(data.dotNum));
                                //alert(sum5);
                                arg15.push([
                                    data.mainData[i]['time'], // the date
                                    sum15 // the volume
                                ]);
                            }
                        }
                    }

                    var originalDrawPoints = Highcharts.seriesTypes.column.prototype.drawPoints;
                    Highcharts.seriesTypes.column.prototype.drawPoints = function () {
                        var merge  = Highcharts.merge,
                                series = this,
                                chart  = this.chart,
                                points = series.points,
                                i      = points.length;

                        while (i--) {
                            if(typeof(chart.series[0].points[i]) != "undefined" && typeof(chart.series[0].points[i]) != undefined)
                            {
                                var candlePoint = chart.series[0].points[i];
                                if(candlePoint.open != undefined && candlePoint.close !=  undefined){  //如果是K线图 改变矩形条颜色，否则不变
                                    var color = (candlePoint.open < candlePoint.close) ? '#FF3232' : '#54FCFC';
                                    var seriesPointAttr = merge(series.pointAttr);
                                    seriesPointAttr[''].fill = color;
                                    seriesPointAttr.hover.fill = color;
                                    seriesPointAttr.select.fill = color;
                                }else{
                                    var seriesPointAttr = merge(series.pointAttr);
                                }

                                points[i].pointAttr = seriesPointAttr;
                            }
                        }

                        originalDrawPoints.call(this);
                    } ,

                            Highcharts.setOptions({
                                global: {
                                    useUTC: false
                                },
                                lang: {
                                    resetZoom : '还原',
                                    resetZoomTitle:'还原',
                                    thousandsSep:',',
                                    months:['一月','二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                                    shortMonths:['一月','二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                                    weekdays: ['周日', '周一','周二', '周三', '周四', '周五', '周六'],
                                    numericSymbols:null
                                }
                            });
                    // create the chart
                    $('#container').highcharts('StockChart', {
                        chart:{
                            animation:true,
                            backgroundColor:'#000',
                            margin:'0',
                            marginRight:'45',
                            zoomType:'x',
                            events : {
                                load : function () {
                                    var series0 = this.series[0];
                                    var series1 = this.series[4];
                                    var series2 = this.series[1];
                                    var series3 = this.series[2];
                                    var series4 = this.series[3];
                                    var yAxis = this.yAxis[0];
                                    var pertime=$("#timePart").attr("value");
                                    var jsq=0;
                                    setInterval(function () {
                                        jsq=jsq+1;
                                        var askvalue= $("#Bid").text();
                                        if(jsq%(60*parseInt(pertime))==0)
                                        {

                                            $.ajax({
                                                type: "post",
                                                dataType: "json",
                                                url: "/index_contr/getLineInfo.shtml?period=" + $("#timePart").attr("value")+"&symbol="+$("#symbol").attr("value"),
                                                success: function (data, textStatus) {
                                                    for (var j=0; j < data.mainData.length; j++)
                                                    {
                                                        var isSeriesExist = 0;
                                                        var isSeriesNeedUpdate = 0;
                                                        var seriesDataIndex = 0;


                                                        for(var i=series0.xData.length - 1; i >=0 ; i--)
                                                        {
                                                            if(period!="9999")
                                                            {
                                                                if(data.mainData[j]['time'] == series0.xData[i] && data.mainData[j]['open'] == series0.yData[i][0] && data.mainData[j]['hign'] == series0.yData[i][1] && data.mainData[j]['low'] == series0.yData[i][2] && data.mainData[j]['close'] == series0.yData[i][3] && data.mainData[j]['vol'] == series1.yData[i])
                                                                {
                                                                    isSeriesExist = 1;
                                                                    seriesDataIndex = i;
                                                                    break;
                                                                }
                                                                if(data.mainData[j]['time'] == series0.xData[i] && (data.mainData[j]['open'] != series0.yData[i][0] || data.mainData[j]['hign'] != series0.yData[i][1] || data.mainData[j]['low'] != series0.yData[i][2] || data.mainData[j]['close'] != series0.yData[i][3] || data.mainData[j]['vol'] != series1.yData[i]))
                                                                {
                                                                    isSeriesNeedUpdate = 1;
                                                                    seriesDataIndex = i;
                                                                    break;
                                                                }

                                                            }
                                                            else if(period=="9999")
                                                            {

                                                                if(data.mainData[j]['time'] == series0.xData[i] && data.mainData[j]['close'] == series0.yData[i] )
                                                                {
                                                                    isSeriesExist = 1;
                                                                    seriesDataIndex = i;
                                                                    break;
                                                                }
                                                                if(data.mainData[j]['time'] == series0.xData[i] && data.mainData[j]['close'] != series0.yData[i])
                                                                {
                                                                    isSeriesNeedUpdate = 1;
                                                                    seriesDataIndex = i;
                                                                    break;
                                                                }
                                                            }


                                                        }

                                                        if(isSeriesNeedUpdate == 1 && period!="9999" && period!="")
                                                        {

                                                            series0.removePoint(seriesDataIndex);
                                                            series1.removePoint(seriesDataIndex);
                                                            series0.addPoint([data.mainData[j]['time'],data.mainData[j]['open'],data.mainData[j]['hign'],data.mainData[j]['low'],data.mainData[j]['close']]);
                                                            series1.addPoint([data.mainData[j]['time'],data.mainData[j]['vol']]);

                                                        }
                                                        else if(isSeriesExist == 0 && period!="9999" && period!="")
                                                        {

                                                            var dsum5=0;
                                                            var dsum10=0;
                                                            var dsum15=0;
                                                            series0.addPoint([data.mainData[j]['time'],data.mainData[j]['open'],data.mainData[j]['hign'],data.mainData[j]['low'],data.mainData[j]['close']]);
                                                            for(var i=series0.xData.length - 1; i >=0 ; i--)
                                                            {
                                                                if(i>series0.xData.length - 5)
                                                                {
                                                                    dsum5=dsum5+series0.yData[i][3];
                                                                }
                                                                if(i>series0.xData.length - 10)
                                                                {
                                                                    dsum10=dsum10+series0.yData[i][3];
                                                                }
                                                                if(i>series0.xData.length - 15)
                                                                {
                                                                    dsum15=dsum15+series0.yData[i][3];
                                                                }
                                                            }

                                                            dsum5=dsum5+data.mainData[j]['close'];
                                                            dsum5=dsum5/5;
                                                            dsum5=parseFloat(dsum5.toFixed(data.dotNum));
                                                            dsum10=dsum10+data.mainData[j]['close'];
                                                            dsum10=dsum10/10;
                                                            dsum10=parseFloat(dsum10.toFixed(data.dotNum));
                                                            dsum15=dsum15+data.mainData[j]['close'];
                                                            dsum15=dsum15/15;
                                                            dsum15=parseFloat(dsum15.toFixed(data.dotNum));

                                                            series1.addPoint([data.mainData[j]['time'],data.mainData[j]['vol']]);
                                                            series2.addPoint([data.mainData[j]['time'],dsum5]);
                                                            series3.addPoint([data.mainData[j]['time'],dsum10]);
                                                            series4.addPoint([data.mainData[j]['time'],dsum15]);

                                                        }
                                                        else if(isSeriesNeedUpdate == 1 && period=="9999")
                                                        {
                                                            series0.removePoint(seriesDataIndex);
                                                            series0.addPoint([data.mainData[j]['time'],data.mainData[j]['close']]);
                                                        }
                                                        else if(isSeriesExist == 0 && period=="9999" )
                                                        {
                                                            series0.addPoint([data.mainData[j]['time'],data.mainData[j]['close']]);
                                                        }

                                                    }
                                                }
                                            });
                                        }
                                        else
                                        {

                                            //series1.removePoint(data.mainData.length-1);
                                            var woopen=series0.yData[series0.xData.length-1][0];
                                            var wohign=series0.yData[series0.xData.length-1][1];
                                            var wolow=series0.yData[series0.xData.length-1][2];
                                            var woclose=series0.yData[series0.xData.length-1][3];
                                            if(parseFloat(askvalue)>series0.yData[series0.xData.length-1][1] && parseFloat(askvalue)>0)
                                            {
                                                wohign=parseFloat(askvalue);
                                            }
                                            if(parseFloat(askvalue)<series0.yData[series0.xData.length-1][2] && parseFloat(askvalue)>0)
                                            {
                                                wolow=parseFloat(askvalue);
                                            }
                                            if(parseFloat(askvalue)>0)
                                            {

                                                woclose=parseFloat(askvalue);
                                            }
                                            var wotime=series0.xData[series0.xData.length-1];

                                            series0.removePoint(series0.xData.length-1);
                                            //alert(series0.xData[series0.xData.length-1]);
                                            series0.addPoint([wotime,woopen,wohign,wolow,woclose]);


                                        }
                                        yAxis.removePlotLine('plot-line-1');
                                        yAxis.addPlotLine({
                                            value: askvalue,
                                            width: 1,
                                            color: '#CCCCCC',
                                            dashStyle: 'solid',
                                            id: 'plot-line-1',
                                            zIndex:99999,
                                            label:{
                                                text:askvalue,
                                                align:'right',
                                                verticalAlign:'bottom',
                                                x:45,
                                                style:{
                                                    "color":'#FFF'
                                                }
                                            }
                                        });
                                    }, 1000);
                                }
                            }
                        },
                        exporting:{
                            enabled:false
                        },
                        credits:{
                            enabled:true,
                            href:'',
                            text:'copyright sitong 2015',
                            position: {
                                align: 'right',
                                x: 10,
                                verticalAlign: 'bottom',
                                y: 10
                            }
                        },
                        navigator:{
                            height:30,
                            margin:40
                        },
                        scrollbar:{
                            enabled:true,
                            liveRedraw:true,
                            height:0,
                            barBackgroundColor:'#F00',
                            barBorderColor:'#000',
                            buttonArrowColor:'#FFF',
                            buttonBackgroundColor:'#FFF',
                            buttonBorderColor:'#000',
                            trackBackgroundColor:'#000',
                            trackBorderColor:'#000'
                        },
                        tooltip:{
                            borderWidth: 0,
                            borderRadius: 0,
                            snap:10,
                            positioner: function () {
                                return { x: 5, y:25 };
                            },
                            shadow: false,
                            crosshairs: [true, true]
                        },
                        rangeSelector: {
                            enabled:true,
                            buttons: [{
                                type: 'minute',
                                count: 30,
                                text: '30分钟'
                            }, {
                                type: 'minute',
                                count: 150,
                                text: '150分钟'
                            }, {
                                type: 'minute',
                                count: 450,
                                text: '450分钟'
                            }, {
                                type: 'minute',
                                count: 900,
                                text: '900分钟'
                            }, {
                                type: 'minute',
                                count: 1800,
                                text: '1800分钟'
                            }, {
                                type: 'minute',
                                count: 43200,
                                text: '43200分钟'
                            }, {
                                type: 'minute',
                                count: 302400,
                                text: '302400分钟'
                            }, {
                                type: 'minute',
                                count: 1296000,
                                text: '1296000分钟'
                            },{
                                type: 'minute',
                                count: 30,
                                text: '30分钟'
                            },{
                                type: 'all',
                                text: '所有'
                            }],
                            inputEnabled:false,
                            labelStyle: {
                                color: 'silver',
                                fontWeight: 'bold'
                            },
                            selected:$("#selected").attr("value")
                        },

                        title: {
                            text: ''
                        },
                        plotOptions:{
                            column:{
                                groupPadding:0.1
                            },
                            candlestick:{
                                groupPadding:0.1
                            }
                        },
                        yAxis: [{
                            title: {
                                text: ''
                            },
                            labels: {
                                align: 'right',
                                x: 45,
                                style:{
                                    "color":"#B6322B"
                                },
                                formatter: function () {
                                    var valueStr = this.value.toString();
                                    var valueStrLen = valueStr.length;
                                    var valueStrDotPostion = valueStr.indexOf('.');
                                    var zeroStr = '';
                                    if(data.dotNum>0)
                                    {
                                        if(valueStrDotPostion < 0)
                                        {
                                            for(var j=1;j<=data.dotNum;j++)
                                            {
                                                zeroStr = zeroStr+'0';
                                            }
                                            return this.value + '.' + zeroStr;
                                        }
                                        else if(valueStrLen - valueStrDotPostion - 1 < data.dotNum)
                                        {
                                            var len = data.dotNum - (valueStrLen - valueStrDotPostion - 1);
                                            for(var j=1;j<=len;j++)
                                            {
                                                zeroStr = zeroStr+'0';
                                            }
                                            return this.value + zeroStr;
                                        }
                                        else
                                        {
                                            return this.value;
                                        }
                                    }
                                    else
                                    {
                                        return this.value;
                                    }
                                }
                            },
                            plotLines: [{
                                value: data.recentlyOpen,
                                width: 1,
                                color: '#CCCCCC',
                                dashStyle: 'solid',
                                id: 'plot-line-1',
                                zIndex:99999,
                                label:{
                                    text:data.recentlyOpenText,
                                    align:'right',
                                    verticalAlign:'bottom',
                                    x:45,
                                    style:{
                                        "color":'#FFF'
                                    }
                                }
                            }],
                            height: '60%',
                            lineWidth: 1,
                            lineColor:'#800000',
                            gridLineColor:'#800000',
                            gridLineDashStyle:'shortdash'
                        },
                            {
                                title: {
                                    text: ''
                                },
                                labels: {
                                    align: 'right',
                                    x: 25,
                                    style:{
                                        "color":"#B6322B"
                                    }
                                },
                                top: '65%',
                                height: '35%',
                                lineWidth: 1,
                                lineColor:'#800000',
                                gridLineColor:'#800000',
                                gridLineDashStyle:'shortdash'
                            }
                        ],

                        series: [{
                            type: 'candlestick',
                            color: '#54FCFC', //下降块颜色
                            lineColor: '#54FCFC', //下降块线条颜色
                            upColor: '#000000', //上升块颜色
                            upLineColor: "#FF3232", //上升块线条颜色
                            name: '{{t}}',
                            data: ohlc

                        },
                            {
                                type: 'line',
                                lineWidth: 1,
                                color:'#ffffff',
                                lineColor: '#ffffff',
                                name: 'avg5',
                                data: arg5,
                                yAxis: 0
                            },
                            {
                                type: 'line',
                                lineWidth: 1,
                                color:'#ffff00',
                                lineColor: '#ffff00',
                                name: 'avg10',
                                data: arg10,
                                yAxis: 0
                            },
                            {
                                type: 'line',
                                lineWidth: 1,
                                color:'#ff00ff',
                                lineColor: '#ff00ff',
                                name: 'avg15',
                                data: arg15,
                                yAxis: 0
                            },
                            {
                                type: 'column',
                                name: '交易量',
                                data: volume,
                                yAxis: 1
                            }
                        ]
                    });
                }
            }
        });
    }
    $(function () {
        getLineInfo();
        $(".ijy-modal-product-quote-button").click(function(){
            var val = $(this).attr("data-value");
            location.href='/wx_data/productdetail?t={{t}}&period='+val;
        });
    });
    function showDetail()
    {
        window.location='/index/list';
    }
    function refreshInfo()
    {
        $.ajax({
            type: "get",
            url: "/wx_data/getLineInfoxSymbol_price?t={{t}}",
            success: function(msg, textStatus){
                var result = $.parseJSON(msg);
                $("#lasttime").text(result.lasttime);
                $("#Ask").text(result.Ask);
                $("#Bid").text(result.Bid);
                if(result.flag == 1){
                    $("#Ask").addClass("ownGreen");
                    $("#Bid").addClass("ownGreen");
                }else{
                    $("#Ask").removeClass("ownGreen");
                    $("#Bid").removeClass("ownGreen");
                }
            }
        });
    }

    setInterval('refreshInfo()',1000);
</script></body>