<style>
    .add_optional_button .btn-Recharge {background: none;padding: 3px 4px;border-color: #dabb84;color: #dabb84;font-size: 12px;border-radius: 3px;}
    .Coupon_tab{ border-top:#d9bc82 1px solid; border-bottom:#d9bc82 1px solid;}
    .Coupon_tab.nav-tabs li a{ border:none !important; text-align:center; line-height:20px !important; color:#d9bc82;}
    .Coupon_tab.nav-tabs > li > a:hover {border:none !important;}
    .Coupon_tab.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {background-color: #d9bc82;color: #1f2129; border:none;}
    .Coupon_tab li { width: 50%;text-align: center}
    .tabuser{color: #d9bc82}
    .tabuser th{ height: 40px;background: none repeat scroll 0 0 #2d313c;color: #666}
    .tabuser td{ height: 50px;  line-height: 50px;vertical-align:middle!important;   font-size: 16px;    font-family: microsoft yahei;}
    .tabuser tr{ border-top: #000000 0 solid;border-bottom: #4d515d 1px solid}
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{    border-top: 0px solid #ddd; }
    .ijy-modal-dialog-full-title-right .btn{
        margin-top: 0px;
        margin-left: 2px;
    }
    .tabuser th:first-child, .tabuser  td:first-child{text-align: left}
    .tabuser th:nth-child(2), .tabuser td:nth-child(2){text-align: left}
    .tabuser th:nth-child(3), .tabuser td:nth-child(3){text-align: right}
    .tabuser th:nth-child(4), .tabuser td:nth-child(4){text-align: right}
</style>
<!-- 顶部菜单 -->
<div class="navbar-fixed-top">
    <div class="row ijy-modal-dialog-full-title">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
            <a onclick="historyBack()"><div class="ijy-modal-dialog-full-title-left"><img src="/images/leftgo.png" alt="">  </div></a>
            <div class="ijy-modal-dialog-full-title-middle">账号列表</div>
             <div class="ijy-modal-dialog-full-title-right"><a href="/wx_data/bindaccount" class="btn btn-gold btn-sm" style="padding: 5px 6px">绑定账号</a></div>
        </div>
    </div>
</div>
<!-- 内容区域 -->
<div class="ijy-option ijy-order-histroy-d" style="margin:50px 0 70px;">
    <div style="position:fixed; z-index:99999; width:100%; background:#23262f;">
        <ul id="myTab" class="nav  nav-tabs Coupon_tab">
            <li class="active"><a href="#zs" id="bor_r" data-toggle="tab">正式账号</a></li>
            <li class=""> <a href="#xn" id="bor_r" data-toggle="tab">虚拟账号</a></li>
        </ul>
    </div>
    <div class="tab-content tabuser" style="margin-bottom:90px;padding: 42px 0 0 0;">
        <div class="tab-pane fade in active" id="zs">
            <table width="100%" cellpadding="0" cellspacing="0" class="table ">
                <tbody>
                <tr>
                    <th >正式账号</th>
                    <th >货币</th>
                    <th >余额</th>
                    <th >杠杆</th>
                </tr>
         {{#each real}}
                <tr newid="{{id}}">
                    <td><strong>{{login}}</strong>
                    <td>USD</td>
                    <td>{{balance}}</td>
                    <td>1：{{leverage}}</td>
                </tr>
            {{/each}}


                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="xn">
            <table width="100%" cellpadding="0" cellspacing="0" class="table">
                <tbody>
                <tr >
                    <th>虚拟账号</th>
                    <th >货币</th>
                    <th >余额</th>
                    <th >杠杆</th>
                </tr>
                {{#each dome}}
                    <tr newid="{{id}}">
                        <td><strong>{{login}}</strong>
                        <td>USD</td>
                        <td>{{balance}}</td>
                        <td>1：{{leverage}}</td>
                    </tr>
                {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="navbar-fixed-bottom menu">
    <div class="ijy-menu-bottom">
        <ul class="nav nav-tabs">
            <li class="ijy-menu-bottom-item"><a href="/wx_data/productlist?symboltype=1">
                <img src="/upgrade/images/bar01_o.png" width="24" height="24"><br>
                <span>交易</span>
            </a>
            </li>

            <li class="ijy-menu-bottom-item "><a href="/wx_data/">
                <img src="/upgrade/images/bar04_o.png" width="24" height="24"><br>
                <span>用户</span>
            </a>
            <li class="ijy-menu-bottom-item active"><a href="/wx_data/uselist">
                <img src="/upgrade/images/bar05.png" width="24" height="24"><br>
                <span>账户</span>
            </a>
            </li>
            <li class="ijy-menu-bottom-item "><a href="/wx_data/positionlist">
                <img src="/upgrade/images/bar02_o.png" width="24" height="24"><br>
                <span>持仓</span>
            </a>
            </li>

            <li class="ijy-menu-bottom-item"><a href="/wx_data/newslist">
                <img src="/upgrade/images/bar03_o.png" width="24" height="24"><br>
                <span>财经</span>
            </a>
            </li>

        </ul>
    </div>
</div>